body {
    background: grey;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
}

form {
    width: 500px;
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.card {
    background: #fff;
    padding: 1rem 1.5rem 1rem;
    width: 450px;
    border-radius: 5px;
    margin: 1rem 2rem;
}

.submit {
    width: 60px;
    height: 30px;
    border-width: 1px;
    background-color: whitesmoke;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}