#slider {
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    overflow: hidden;

}

#slider .slides {
    display: flex;
    animation-name: pociag-w-lewo;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}



#dotBox {
    text-align: center;
}

@keyframes pociag-w-lewo {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2000px);
    }
}

.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 50px;
}